@model Minesweeper_Web_Application.Models.UserModel

@{
    ViewBag.Title = "User Profile";
}

<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserProfile</title>
    <style>
        .headerText {
            text-align: center;
            font-weight: bold;
            font-size: 24px;
        }

        .subHeaderText {
            text-align: center;
            font-size: 18px;
        }

        div {
            text-align: center;
        }
        table, th, td {
            text-align: center;
            border: 1px solid black;
            margin:0 auto;
            width: 400px;
        }
    </style>
</head>
@using (Html.BeginForm("MainPage", "Home", FormMethod.Get))
{
<div>
    @Html.Label("User Profile", htmlAttributes: new { @class = "headerText" })
    <br />

    <!-- CSS for TH and TD -->
    <style>
        th {
            text-align: center;
        }
        td {
            text-align: center;
        }

        table, th, td {
            border: 5px solid black;
            color: dodgerblue;
        }
    </style>

    <!-- added colons after each LabelFor string -->
    <table style = "width:50%; background-color: lightcyan;">
        <tr>
            <th>@Html.LabelFor(model => model.FirstName, "First Name:", htmlAttributes: new { @class = "text-align: center;" }) </th>
            <td>@Html.DisplayFor(m => m.FirstName)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => model.LastName, "Last Name:", htmlAttributes: new { @class = "text-align: center;" }) </th>
            <td>@Html.DisplayFor(m => m.LastName)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => model.Age, "Age:", htmlAttributes: new { @class = "text-align: center;" }) </th>
            <td>@Html.DisplayFor(m => m.Age)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => model.Gender, "Gender:", htmlAttributes: new { @class = "text-align: center;" }) </th>
            <td>@Html.DisplayFor(m => m.Gender)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => model.State, "State:", htmlAttributes: new { @class = "text-align: center;" }) </th>
            <td>@Html.DisplayFor(m => m.State)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => model.EmailAddress, "Email Address:", htmlAttributes: new { @class = "text-align: center;" }) </th>
            <td>@Html.DisplayFor(m => m.EmailAddress)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => model.UserName, "Username:", htmlAttributes: new { @class = "text-align: center;" }) </th>
            <td>@Html.DisplayFor(m => m.UserName)</td>
        </tr>
    </table>
    <br />
    <div class="form-group">
        <div class="col-md-offset9 col-md90">
            <input type="submit" value="Home Page" class="btn btn-default" />
        </div>
    </div>
</div>   
}