@model List<Minesweeper_Web_Application.Models.LeaderBoard>

@{
    ViewBag.Title = "High Scores";
}

<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>HighScores</title>
    <style>
        .headerText{
            text-align: center;
            font-weight: bold;
            font-size: 24px;
        }

        .subHeaderText{
            text-align: center;
            font-size: 18px;
        }
        div {text-align: center;}

        table, th, td{
            border: 1px solid black;
            margin:0 auto;
            text-align: center;
            width: 300px;
        }

        tr:nth-child(2) 
        {
            background-color: gold;
        }
        tr:nth-child(3)
        {
            background-color: silver;
        }
        tr:nth-child(4)
        {
            background-color: #cd7f32;
        }
    </style>
</head>
@using (Html.BeginForm("MainPage", "Home", FormMethod.Get))
{ 
<div>
    @Html.Label("Minesweeper High Scores", htmlAttributes: new { @class = "headerText" })
    <br />
    @Html.Label("Please check back later for updated scores", htmlAttributes: new { @class = "subHeaderText" })
    <br />
    <div class="form-group">
        <div class="col-md-offset9 col-md90">
            <input type="submit" value="Home Page" class="btn btn-default" />
        </div>
    </div>
    <br />
    @Html.Label("High Scores Leaderboard", htmlAttributes: new { @class = "subHeaderText" })
    <div>

        <!-- updated CSS styling -->
        <style>
            table, th {
                border: 5px solid black;
            }
        </style>

        <table style="background-color: lightcyan; border: 5px solid black;">
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">Username</th>
                <th scope="col">Score - Seconds</th>
            </tr>

            @foreach (var data in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => data.Rank)</td>
                    <td>@Html.DisplayFor(modelItem => data.Username)</td>
                    <td>@Html.DisplayFor(modelItem => data.Time)</td>
                </tr>
            }
        </table>
    </div>
</div>
}